<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="C_XMLY">
  <!-- 新增数据 -->
  <insert id="insertOrgi" parameterType="java.util.Map">insert into XMLY_Original
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="schemeId!=null">schemeId,</if>
      <if test="schemeNum!=null">schemeNum,</if>
      <if test="visitUrl!=null">visitUrl,</if>
      <if test="parentUrl!=null">parentUrl,</if>
      <if test="seqId!=null">seqId,</if>
      <if test="seqName!=null">seqName,</if>
      <if test="assetType!=null">assetType,</if>
      <if test="assetId!=null">assetId,</if>
      <if test="assetName!=null">assetName,</if>
      <if test="playUrl!=null">playUrl,</if>
      <if test="person!=null">person,</if>
      <if test="imgUrl!=null">imgUrl,</if>
      <if test="playCount!=null">playCount,</if>
      <if test="catalog!=null">catalog,</if>
      <if test="tags!=null">tags,</if>
      <if test="descript!=null">descript,</if>
      <if test="extInfo!=null">extInfo,</if>
      <if test="flag!=null">flag,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
      <if test="schemeId!=null">#{schemeId,jdbcType=VARCHAR},</if>
      <if test="schemeNum!=null">#{schemeNum,jdbcType=INTEGER},</if>
      <if test="visitUrl!=null">#{visitUrl,jdbcType=VARCHAR},</if>
      <if test="parentUrl!=null">#{parentUrl,jdbcType=VARCHAR},</if>
      <if test="seqId!=null">#{seqId,jdbcType=VARCHAR},</if>
      <if test="seqName!=null">#{seqName,jdbcType=VARCHAR},</if>
      <if test="assetType!=null">#{assetType,jdbcType=INTEGER},</if>
      <if test="assetId!=null">#{assetId,jdbcType=VARCHAR},</if>
      <if test="assetName!=null">#{assetName,jdbcType=VARCHAR},</if>
      <if test="playUrl!=null">#{playUrl,jdbcType=VARCHAR},</if>
      <if test="person!=null">#{person,jdbcType=VARCHAR},</if>
      <if test="imgUrl!=null">#{imgUrl,jdbcType=VARCHAR},</if>
      <if test="playCount!=null">#{playCount,jdbcType=VARCHAR},</if>
      <if test="catalog!=null">#{catalog,jdbcType=VARCHAR},</if>
      <if test="tags!=null">#{tags,jdbcType=VARCHAR},</if>
      <if test="descript!=null">#{descript,jdbcType=VARCHAR},</if>
      <if test="extInfo!=null">#{extInfo,jdbcType=VARCHAR},</if>
      <if test="flag!=null">#{flag,jdbcType=INTEGER},</if>
    </trim>
  </insert>
  <!-- 修改数据 根据主键-->
  <update id="updateOrgi" parameterType="java.util.Map">
    update XMLY_Original
    <set>
      <if test="schemeId!=null">schemeId=#{schemeId,jdbcType=VARCHAR},</if>
      <if test="schemeNum!=null and schemeNum!=0">schemeNum=#{schemeNum,jdbcType=INTEGER},</if>
      <if test="isValidate!=null and isValidate!=0">isValidate=#{isValidate,jdbcType=INTEGER},</if>
      <if test="visitUrl=null">visitUrl=#{visitUrl,jdbcType=VARCHAR},</if>
      <if test="parentUrl=null">parentUrl=#{parentUrl,jdbcType=VARCHAR},</if>
      <if test="assetType!=null and assetType!=0">assetType=#{assetType,jdbcType=INTEGER},</if>
      <if test="seqId=null">seqId=#{seqId,jdbcType=VARCHAR},</if>
      <if test="seqName=null">seqName=#{seqName,jdbcType=VARCHAR},</if>
      <if test="assetId=null">assetId=#{assetId,jdbcType=VARCHAR},</if>
      <if test="assetName!=null">assetName=#{assetName,jdbcType=VARCHAR},</if>
      <if test="playUrl!=null">playUrl=#{playUrl,jdbcType=VARCHAR},</if>
      <if test="person!=null">person=#{person,jdbcType=VARCHAR},</if>
      <if test="imgUrl!=null">imgUrl=#{imgUrl,jdbcType=VARCHAR},</if>
      <if test="playCount!=null">playCount=#{playCount,jdbcType=VARCHAR},</if>
      <if test="catalog!=null">catalog=#{catalog,jdbcType=VARCHAR},</if>
      <if test="tags!=null">tags=#{tags,jdbcType=VARCHAR},</if>
      <if test="descript!=null">descript=#{descript,jdbcType=VARCHAR},</if>
      <if test="extInfo!=null">extInfo=#{extInfo,jdbcType=VARCHAR},</if>
      <if test="CTime=null">cTime=#{CTime,jdbcType=TIMESTAMP},</if>
      <if test="flag!=null and flag!=0">flag=#{flag,jdbcType=INTEGER},</if>
    </set>
    where id=#{id,jdbcType=VARCHAR}
  </update>

  <select id="orgiCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(*) from XMLY_Original where flag=0
  </select>
  <select id="getTobeDealData" resultType="java.util.Map" parameterType="java.util.Map">
    select * from XMLY_Original where flag=0
    order by schemeId, schemeNum, cTime, assetId, seqId
  </select>
</mapper>