<?xml version="1.0" encoding="UTF-8" ?>

<!--
  字典项
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="C_SCHEME">
  <select id="getActiveScheme" resultType="java.util.HashMap">
    select * from wt_c_Scheme where isValidate=1 and (crawlType=0 or (crawlType>processNum))
  </select>
</mapper>